* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.main {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1; 
    position: relative;
}

.bg-pic {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    height: fit-content;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-text {
    font-family: "Norse Bold", serif; 
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.logo img {
    width: 10%;
    display: block;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px 10px;
}

.bg-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.right {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.note {
    margin-bottom: 30px;
    padding: 40px;
    font-size: 20px;
}

.header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-group {
    flex: 1 1 calc(50% - 7.5px);
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    flex: 1 1 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-container {
    padding-left: 40px;
    padding-top: 10px;
}

a{
    color: #596D48;
}

button:hover {
    background-color: #0056b3;
}